* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects {
  font-family: "Manrope", serif;
  max-width: 100%;
  width: 120rem;
  background-color: #1c1c21;
  outline: 3px red solid;
  margin: 15rem auto 0;
}

.projects__title {
  font-size: 8rem;
  font-weight: 400;
  line-height: 10.4rem;
  color: #eac566;
  margin: 0 0 4.8rem 0;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.fullWidth {
  margin: 4rem 0;
  grid-column: span 2;
}
