* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(../../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  font-family: "Manrope", serif;
  max-width: 100%;
  width: 120rem;
  background-color: #1c1c21;
  outline: 3px red solid;
  margin: 7.8rem auto 0;
  color: #ebe3ce;
  position: relative;
  padding-top: 8rem;
  z-index: -2;
}

.hero__wrapper {
  display: flex;
}

.hero__messageTitle {
  width: 11.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.01em;
  background-color: #e9e9eb;
  color: #2a2a29;
  border-radius: 2.45rem 2.45rem 2.45rem 0.4rem;
  filter: blur(0.5px);
  transform: translateY(70%) rotate(5deg);
}

.titleWrapper {
  display: flex;
  gap: 7.5rem;
}

.hero__title {
  display: flex;
  /* font-size: clamp(50px, 8.5vw, 110px); */
  font-size: 11rem;
  font-weight: 400;
  line-height: 14.3rem;
}

.hero__subtitle {
  font-size: 11rem;
  font-weight: 400;
  line-height: 14.3rem;
  color: #eac566;
}

.hero__description {
  max-width: 36rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #ebe3ce;
}

.hero__wrapperInfo {
  display: flex;
  gap: 7.5rem;
}

.hero__wrapperDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
