* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  padding: 0 3rem;
  background-image: url(../../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  font-family: "Manrope", serif;
  max-width: 120rem;
  background-color: #1c1c21;
  outline: 3px red solid;
  margin: 7.8rem auto 0;
  color: #ebe3ce;
  position: relative;
  padding-top: 8rem;
  z-index: -2;
}

.hero__wrapper {
  display: flex;
}

.hero__messageTitle {
  width: 11.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.01em;
  background-color: #e9e9eb;
  color: #2a2a29;
  border-radius: 2.45rem 2.45rem 2.45rem 0.4rem;
  filter: blur(0.5px);
  transform: translateY(70%) rotate(5deg);
}

.titleWrapper {
  display: flex;
  gap: 7.5rem;
}

.hero__title {
  display: flex;
  font-size: 11rem;
  font-weight: 400;
  line-height: 14.3rem;
}

.hero__subtitle {
  font-size: 11rem;
  font-weight: 400;
  /* line-height: 14.3rem; */
  color: #eac566;
}

.hero__description {
  max-width: 36rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #ebe3ce;
}

.hero__wrapperInfo {
  display: flex;
  gap: 7.5rem;
}

.hero__wrapperDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 0 0;
}

@media (max-width: 1024px) {
  .hero {
    background-position: 58% 15%;
    background-size: 12rem;
    margin: 7.8rem auto 0;
    padding-top: 8rem;
  }

  .hero__title {
    font-size: 7rem;
    line-height: 3rem;
  }

  .hero__subtitle {
    font-size: 6rem;
  }

  .hero__description {
    max-width: 25rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .hero__messageTitle {
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    transform: translateY(10%) rotate(5deg);
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 0 2rem;
    background-position: 50% 20%;
    background-size: 9rem;
    margin: 4.8rem auto 0;
    padding-top: 6rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__subtitle {
    font-size: 4rem;
  }

  .hero__description {
    max-width: 16rem;
    line-height: 1.4rem;
    font-size: 1rem;
  }

  .hero__messageTitle {
    width: 6rem;
    height: 2.3rem;
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    left: 10rem;
    transform: translateY(0%) rotate(0deg);
  }
  .hero__wrapperInfo {
    justify-content: center;
  }

  .hero__wrapperDescription {
    padding: 1.2rem 0 0 0;
  }
}

@media (max-width: 565px) {
  .hero {
    padding: 0 2rem;
    background-position: 50% 20%;
    background-size: 13rem;
    padding-top: 8rem;
  }

  .hero__messageTitle {
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    top: 2rem;
    left: 6.5rem;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__wrapperDescription {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 0 0;
    gap: 2rem;
  }

  .hero__description {
    max-width: 20rem;
    line-height: 2rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  .hero {
    padding: 0 2rem;
    padding-top: 8rem;
    background-position: 90% 30%;
    background-size: 17rem;
  }

  .hero__wrapperInfo {
    justify-content: start;
  }

  .titleWrapper {
    flex-direction: column;
    gap: 6rem;
    margin: 0 0 0 4rem;
  }

  .hero__title {
    font-size: 7rem;
  }

  .hero__subtitle {
    font-size: 6rem;
  }

  .hero__description {
    max-width: 25rem;
    line-height: 2.3rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
