* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advantages {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", serif;
  max-width: 120rem;
  margin: 15rem auto 0;
  padding: 0 3rem;
}

.advantages__title {
  font-family: Manrope;
  font-size: 8rem;
  font-weight: 400;
  color: #eac566;
  margin: 0 0 48px 0;
}

.advantages__list {
  display: flex;
  list-style-type: none;
  gap: 3.9rem;
}

@media (max-width: 1024px) {
  .advantages {
    margin: 7rem auto 0;
  }

  .advantages__title {
    font-size: 5rem;
    margin: 0 0 3rem 0;
  }

  .advantages__list {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .advantages {
    margin: 7rem auto 0;
  }

  .advantages__title {
    font-size: 3.2rem;
    margin: 0 0 3rem 0;
  }

  .advantages__list {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (max-width: 565px) {
  .advantages__title {
    margin: 0 0 4.5rem 0;
  }

  .advantages__list {
    flex-wrap: wrap;
    gap: 2.4rem;
  }
}

@media (max-width: 450px) {
  .advantages__title {
    font-size: 3.5rem;
    margin: 0 0 3rem 0;
  }
}
