* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advantages {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", serif;
  max-width: 100%;
  width: 120rem;
  outline: 3px red solid;
  margin: 15rem auto 0;
}

.advantages__title {
  font-family: Manrope;
  font-size: 8rem;
  font-weight: 400;
  line-height: 10.4rem;
  color: #eac566;
  margin: 0 0 48px 0;
}

.advantages__list {
  display: flex;
  list-style-type: none;
  gap: 3.9rem;
}
