* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photoshoper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 104px; */
  font-family: "Manrope", serif;
  max-width: 100%;
  width: 120rem;
  outline: 3px red solid;
  margin: 15rem auto 0;
}

.photoshoper__title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.1rem;
  color: #eac566;
}

.photoshoper__subtitle {
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 6rem;
  color: #ebe3ce;
  margin: 2.4rem 0;
  width: 58.8rem;
}

.photoshoper__messageWrapper {
  display: flex;
  align-items: end;
}

.photoshoper__imgArrow {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.photoshoper__messageTitle {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  background-color: #e9e9eb;
  color: #2a2a29;
  border-radius: 2.45rem 2.45rem 0.4rem 2.45rem;
  width: 26.3rem;
  padding: 1rem 0;
  filter: blur(0.5px);
  text-align: center;
  transform: rotate(5deg);
}

.photoshoper__title_text {
  font-family: "Open Sans";
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.55rem;
  max-width: 40.9rem;
  color: #ebe3ce;
}

.photoshoper__slider_right {
  order: 2 !important;
}

.photoshoper__messageTitle_right {
  order: 1 !important;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
