* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font-family: "Manrope", serif;
  max-width: 100%;
  width: 120rem;
  background-color: #1c1c21;
  outline: 3px red solid;
  margin: 15rem auto 4.6rem;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0 0 0;
}

.footer__title {
  font-family: "Manrope";
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.5rem;
  color: #eac566;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__smile {
  display: inline-block;
  background-image: url(../../images/smile.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 11rem;
  height: 11rem;
  margin-right: 7rem;
  animation: smile-rotate 5s linear infinite;
}

.footer__listInfo {
  list-style-type: none;
}

.footer__itemInfo {
  margin: 0 0 1.6rem 0;
}

.footer__itemInfo:last-of-type {
  margin: 0;
}

.footer__titleInfo {
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.08rem;
  text-align: left;
  color: #bebebe;
  margin: 0 0 2rem 0;
}

.footer__linkInfo {
  font-family: Open Sans;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.12rem;
  text-align: left;
  color: #ebe3ce;
}

.footer__linkInfo {
  text-decoration: none;
}

.footer__link {
  border-bottom: 1px solid #ebe3ce;
}

.footer__textInfo {
  font-family: Open Sans;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.12rem;
  text-align: left;
  color: #ebe3ce;
}

@keyframes smile-rotate {
  100% {
    transform: rotate(360deg);
  }
}
