* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font-family: "Manrope", serif;
  max-width: 120rem;
  background-color: #1c1c21;
  margin: 15rem auto 4.6rem;
  padding: 0 3rem;
  position: relative;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0 0 0;
}

.footer__title {
  font-family: "Manrope";
  font-size: 5rem;
  font-weight: 400;
  color: #eac566;
}

.footer__smile {
  position: absolute;
  top: -1rem;
  right: 6rem;
  width: 12rem;
  height: 12rem;
  animation: smile-rotate 5s linear infinite;
}

.footer__listInfo {
  list-style-type: none;
}

.footer__itemInfo {
  margin: 0 0 1.6rem 0;
}

.footer__itemInfo:hover {
  transition: opacity 0.3s ease;
  opacity: 0.7;
}

.footer__itemInfo:last-of-type {
  margin: 0;
}

.footer__titleInfo {
  font-family: Open Sans;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
  color: #bebebe;
  margin: 0 0 2rem 0;
}

.footer__linkInfo {
  font-family: Open Sans;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  color: #ebe3ce;
}

.footer__linkInfo {
  text-decoration: none;
}

.footer__link {
  border-bottom: 1px solid #ebe3ce;
}

.footer__link:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footer__textInfo {
  font-family: Open Sans;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.12rem;
  text-align: left;
  color: #ebe3ce;
}

.footer__infoWrapperI {
  grid-area: info;
}

.footer__infoWrapperI2 {
  grid-area: info2;
}

.footer__infoWrapperT {
  grid-area: time;
}

@keyframes smile-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .footer {
    margin: 7rem auto 4rem;
  }

  .footer__title {
    font-size: 3rem;
    padding: 2.5rem 0 0 0;
  }

  .footer__wrapper {
    margin: 4rem 0 0 0;
  }

  .footer__titleInfo {
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
  }

  .footer__linkInfo {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 2.2rem;
    padding: 2.5rem 0 0 0;
  }

  .footer__smile {
    display: none;
  }

  .footer__titleInfo {
    font-size: 1.6rem;
  }

  .footer__linkInfo {
    font-size: 2rem;
  }

  .footer__infoWrapperT {
    margin: 3rem 0 0 0;
  }

  .footer__infoWrapperI2 {
    margin-left: 10rem;
  }

  .footer__wrapper {
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-areas:
      "info info2"
      "time time";
  }
}

@media (max-width: 565px) {
  .footer__title {
    font-size: 2rem;
    padding: 2.5rem 0 0 0;
  }

  .footer__titleInfo {
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
  }

  .footer__linkInfo {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  .footer__wrapper {
    grid-template-areas:
      "info"
      "info2"
      "time ";
    gap: 4rem;
  }

  .footer__title {
    font-size: 3.2rem;
    padding: 2.5rem 0 0 0;
  }

  .footer__titleInfo {
    font-size: 1.6rem;
  }

  .footer__linkInfo {
    font-size: 2.2rem;
  }

  .footer__infoWrapperI2 {
    margin-left: 0;
  }
}
