* {
  margin: 0;
  padding: 0;
}

.aboutMe {
  position: relative;
  font-family: "Manrope", serif;
  width: 100%;
  max-width: 1200px;
  background-color: #1c1c21;
  outline: 3px red solid;
  margin: 150px auto 0;
}

.aboutMe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutMe__title {
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  line-height: 104px;
  color: #eac566;
  z-index: 3;
}

.aboutMe__meWrapper {
  position: relative;
}

.aboutMe__message {
  position: absolute;
  top: 250px;
  left: 330px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  background-color: #e9e9eb;
  color: #2a2a29;
  border-radius: 24.5px 24.5px 24.5px 4px;
  width: 164px;
  padding: 10px 0;
  filter: blur(0.5px);
  text-align: center;
  transform: rotate(5deg);
}

.aboutMe__subtitle {
  max-width: 461px;
  margin: 0 0 24px 0;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32.8px;
  color: #ebe3ce;
}

.aboutMe__subtitle:first-of-type {
  margin-top: 48px;
}

.aboutMe__subtitle:last-of-type {
  margin: 0;
}
