* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutMe {
  position: relative;
  font-family: "Manrope", serif;
  max-width: 120rem;
  background-color: #1c1c21;
  margin: 15rem auto 0;
  padding: 0 3rem;
}

.aboutMe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutMe__title {
  position: absolute;
  top: 5.9rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 8rem;
  font-weight: 400;
  color: #eac566;
  z-index: 3;
}

.aboutMe__image {
  width: 50rem;
}

.aboutMe__meWrapper {
  position: relative;
}

.aboutMe__message {
  position: absolute;
  top: 27%;
  left: 49%;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  background-color: #e9e9eb;
  color: #2a2a29;
  border-radius: 2.45rem 2.45rem 2.45rem 0.4rem;
  padding: 1rem 2rem;
  filter: blur(0.5px);
  text-align: center;
  transform: rotate(348deg);
  white-space: nowrap;
}

.aboutMe__subtitleWrapper {
  margin: 0 0 0 5rem;
}

.aboutMe__subtitle {
  margin: 0 0 2.4rem 0;
  font-family: "Open Sans";
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #ebe3ce;
}

.aboutMe__subtitle:first-of-type {
  margin-top: 4.8rem;
}

.aboutMe__subtitle:last-of-type {
  margin: 0;
}

@media (max-width: 1024px) {
  .aboutMe {
    margin: 7rem auto 0;
  }

  .aboutMe__title {
    top: 1rem;
    font-size: 6rem;
  }

  .aboutMe__subtitle {
    margin: 0 0 2.4rem 0;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .aboutMe__subtitle:first-of-type {
    margin-top: 7rem;
  }

  .aboutMe__message {
    top: 33%;
    left: 47%;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
  }

  .aboutMe__subtitleWrapper {
    margin: 0 0 0 6rem;
  }

  .aboutMe__image {
    width: 35rem;
  }
}

@media (max-width: 768px) {
  .aboutMe__title {
    top: 2rem;
    font-size: 3.2rem;
  }

  .aboutMe__subtitle {
    margin: 0 0 2.4rem 0;
    font-size: 1rem;
    line-height: 2rem;
  }

  .aboutMe__subtitle:first-of-type {
    margin-top: 4rem;
  }

  .aboutMe__subtitleWrapper {
    margin: 0 0 0 1rem;
  }

  .aboutMe__message {
    top: 31%;
    left: 49%;
    font-size: 1rem;
    padding: 0.4rem 0.7rem;
  }

  .aboutMe__image {
    width: 22rem;
  }
}

@media (max-width: 565px) {
  .aboutMe__title {
    top: 1rem;
    font-size: 3rem;
  }

  .aboutMe__subtitle {
    margin: 0 0 2rem 0;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .aboutMe__image {
    width: 20rem;
  }
}

@media (max-width: 450px) {
  .aboutMe__wrapper {
    flex-direction: column;
  }

  .aboutMe__title {
    top: 5rem;
    left: 20rem;
  }

  .aboutMe__image {
    width: 100%;
  }

  .aboutMe__message {
    top: 32%;
    left: 48%;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }

  .aboutMe__subtitle {
    margin: 0 0 2.4rem 0;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
