* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1440 * 10);
}

body {
  max-width: 1920px;
  /* min-width: 375px; */
  /* max-width: 1440px; */
  margin: 0 auto;
  /* width: 120rem; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  outline: 3px red solid;
}

@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }
}

@media (max-width: 565px) {
  html {
    font-size: calc(100vw / 450 * 10);
  }
}

@media (max-width: 450px) {
  html {
    font-size: calc(100vw / 450 * 10);
  }
}
