.img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}
.slider {
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .img {
    width: 25rem;
    height: 25rem;
  }
  .slider {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .img {
    width: 19rem;
    height: 19rem;
  }
  .slider {
    width: 19rem;
    height: 19rem;
  }
}

@media (max-width: 565px) {
  .img {
    width: 15rem;
    height: 15rem;
  }
  .slider {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 450px) {
  .img {
    width: 30rem;
    height: 30rem;
  }
  .slider {
    width: 30rem;
    height: 30rem;
  }
}
